<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Books At Your Door Step</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top bg-info">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Books At Your Door Step", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.IsInRole("Librarian"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Create" ? "active" : "")">@Html.ActionLink("Upload Books", "Create", "BooksMenu")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LibGallery" ? "active" : "")">@Html.ActionLink("Gallery", "LibGallery", "BooksMenu")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LibIndex" ? "active" : "")">@Html.ActionLink("Librarian Orders", "LibIndex", "Orders")</li>
                    }
                    @if (User.IsInRole("Member"))
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "BooksGallery" ? "active" : "")">@Html.ActionLink("Books Gallery", "BooksGallery", "BooksMenu")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MemIndex" ? "active" : "")">@Html.ActionLink("Cart", "MemIndex", "Orders")</li>
                    }
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Help" ? "active" : "")">@Html.ActionLink("Help", "Help", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:white">&copy; @DateTime.Now.Year - Books At Your Door Step</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
