@model Library.Models.BookOrders.LibraryBook
@{
    ViewBag.Title = "Upload";
}
<h2></h2>
<style>
    body {
        background: -webkit-linear-gradient(left,grey, black, grey);
    }
    .note {
        text-align: center;
        height: 60px;
        padding: 1%;
        background: -webkit-linear-gradient(left,black, lightgray, black);
        color: black;
        font-weight: bold;
        line-height: 80px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .form-content{
        padding-left: 13%;
        padding-top: 3%;
        padding-bottom: 3%;
        border: 1px solid #ced4da;
        margin-left: 15%;
        margin-right: 15%;
        color:white;
    }
    .form-control {
        border-radius: 1.5rem;
    }
</style>
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm(new { @class = "form-horizontal",role="form"}))
        {
            <div class="container register-form">
                <div class="form">
                    <div class="note">
                        @Html.AntiForgeryToken()
                        <h4>LibraryBook</h4>
                    </div>
                    <div class="form-content">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" >
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Copies, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Copies, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Copies, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="UPLOAD" class="btn btn-default" style="background-color:lightgrey; margin-left:17%; margin-top:5%" />
                            </div>
                        </div>
                        <div style="color:black;text-decoration:underline">
                            @Html.ActionLink("Go to Gallery ", "LibGallery")
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </div>
</div>