@model IEnumerable<Library.Models.BookOrders.LibraryBook>

@{
    ViewBag.Title = "Gallery";
}
<style>
    body {
        background: -webkit-linear-gradient(left,grey, black, grey);
    }


</style>
<h2 style="color:white">
    Added Books Gallery
</h2>
<div>
    <table class="table table-bordered table-responsive table-hover" id="tblEmployee" style="background-color:#9D9D9D">
        <tr>
            <th>Book</th>
            <th>Details</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="myclass">
                    @Html.ActionLink("Explore", "Details", new { id = item.Book_Id }, new { @class = "myclass" })
                </td>
                <td class="myclass">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Book_Id }, new { @class = "myclass" })
                </td>
                <td class="myclass">
                    @Html.ActionLink("Update", "Edit", new { id = item.Book_Id }, new { @class = "myclass" })
                </td>
            </tr>
        }

    </table>
</div>
<a class="btn btn-primary"
   href="@Url.Action("Create","BooksMenu")">
    Upload books
</a>
