@model Library.Models.BookOrders.LibraryBook
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>LibraryBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (User.IsInRole("Librarian"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUser.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AspNetUser.UserName)
            </dd>
            <a class="btn btn-primary"
               href="@Url.Action("LibIndex", "Orders")">
                Go Back
            </a>
        }
        @if (User.IsInRole("Member"))
        {
            <dt>
               Librarian Name:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AspNetUser.UserName)
            </dd>
            <dt>Librarian Address:</dt>
            <dd>@Html.DisplayFor(model => model.AspNetUser.City)</dd>
            <a class="btn btn-primary"
               href="@Url.Action("MemIndex", "Orders")">
                Go Back
            </a>
        }
    </dl>
</div>