@model IEnumerable<Library.Models.BookOrders.Order>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<div>
    <table class="table table-bordered table-responsive table-hover" id="tblEmployee">
        <tr>
            <th>Book</th>
            <th>Member</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Issue</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryBook.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LibraryBook.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Borrow_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Due_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }

    </table>
</div>

